In [1]:
import pandas as pd

In [2]:
# Read data from file
df= pd.read_csv ('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
# How many of each race are represented in this dataset? 
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [19]:
# What is the average age of men? 
dfmale = df.loc[df['sex'] == 'Male', ['sex', 'age']]
average_age_men = dfmale.age.mean()
print(f'The average age of men is {(average_age_men):.1f}.')

The average age of men is 39.4.

In [22]:
# What is the percentage of people who have a Bachelor's degree?
dfbach = df.education.value_counts().Bachelors
print(f'The percentage of people without advanced education make more than 50K is {((dfbach * 100)/len(df)):.2f}%.')

The percentage of people without advanced education make more than 50K is 16.45%.

In [6]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education =  df.apply(lambda row: row[df['education'].isin(['Bachelors','Masters','Doctorate'])])
lower_education = df.apply(lambda row: row[~df['education'].isin(['Bachelors','Masters','Doctorate'])])
high_edu_rich = higher_education.query("salary == '>50K'")
low_edu_rich = lower_education.query("salary == '>50K'")

# percentage with salary >50K
higher_education_rich = len(high_edu_rich)/len (higher_education)
lower_education_rich = len(low_edu_rich)/len (lower_education)
print(f'The percentage of people with advanced education make more than 50K is {(higher_education_rich* 100):.2f}%.')
print(f'The percentage of people without advanced education make more than 50K is {(lower_education_rich*100):.2f}%.')

The percentage of people with advanced education make more than 50K is 46.54%.
The percentage of people without advanced education make more than 50K is 17.37%.

In [26]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
print(f'The minimum number of hours a person works per week is {(min_work_hours)}.')

The minimum number of hours a person works per week is 1.

In [11]:
# What percentage of the people who work the minimum of 20 hours per week have a salary of >50K?
num_min_workers = df[df['hours-per-week'] <=20]
rich_percentage = len(num_min_workers.query("salary == '>50K'"))/len (num_min_workers)
print(f'The percentage of people who work the minimum of 20 hours per week have a salary of >50K is \
{(rich_percentage* 100):.2f}%.')

The percentage of people who work the minimum of 20 hours per week have a salary of >50K is 6.66%.

In [12]:
# What country has the highest percentage of people that earn >50K?
rich= df.query("salary == '>50K'")
proportion_rich = rich['native-country'].value_counts()/df['native-country'].value_counts()
proportion_rich.sort_values(ascending=False)

Iran                          0.418605
France                        0.413793
India                         0.400000
Taiwan                        0.392157
Japan                         0.387097
Yugoslavia                    0.375000
Cambodia                      0.368421
Italy                         0.342466
England                       0.333333
Canada                        0.322314
Germany                       0.321168
Philippines                   0.308081
Hong                          0.300000
Greece                        0.275862
China                         0.266667
Cuba                          0.263158
?                             0.250429
Scotland                      0.250000
United-States                 0.245835
Hungary                       0.230769
Ireland                       0.208333
South                         0.200000
Poland                        0.200000
Thailand                      0.166667
Ecuador                       0.142857
Jamaica                       0.123457
Laos                          0.111111
Portugal                      0.108108
Puerto-Rico                   0.105263
Trinadad&Tobago               0.105263
Haiti                         0.090909
El-Salvador                   0.084906
Honduras                      0.076923
Vietnam                       0.074627
Peru                          0.064516
Nicaragua                     0.058824
Mexico                        0.051322
Guatemala                     0.046875
Columbia                      0.033898
Dominican-Republic            0.028571
Holand-Netherlands                 NaN
Outlying-US(Guam-USVI-etc)         NaN
Name: native-country, dtype: float64

In [15]:
# Identify the most popular occupation for those who earn >50K in India.
richIND = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]
richIND['occupation']. value_counts()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64